i0: pushi 0
i1: pushi 0
i2: pushi 0
i3: pushi 0
i4: start
i5: read
i6: atoi
i7: storeg 0
i8: read
i9: atoi
i10: storeg 3
i11: pushi 1
i12: storeg 1
i13: pushg 1
i14: pushg 0
i15: inf
i16: jz i34
i17: read
i18: atoi
i19: storeg 2
i20: pushg 3
i21: pushg 2
i22: sup
i23: jz i27
i24: pushg 2
i25: storeg 3
i26: jump i29
i27: pushi 0
i28: storeg 2
i29: pushg 1
i30: pushi 1
i31: add
i32: storeg 1
i33: jump i13
i34: pushs "O menor número é o "
i35: writes
i36: pushg 3
i37: writei
i38: stop
